<p style="color: green"><%= notice %></p>

<%= render @service %>

<div>
  <%= link_to "Back to services", services_path %>
  <% if can? :manage, @service%>
    <%= link_to "Edit this service", edit_service_path(@service) %> |
    <%= button_to "Destroy this service", @service, method: :delete %>
  <%end%>
</div>
