<p style="color: green"><%= notice %></p>

<%= render @service_category %>

<div>
  <%= link_to "Edit this service category", edit_service_category_path(@service_category) %> |
  <%= link_to "Back to service categories", service_categories_path %>

  <%= button_to "Destroy this service category", @service_category, method: :delete %>
</div>
